* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}

@font-face {
  font-family: "Inter";
  src: url(.././fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: "Sen";
  src: url(.././fonts/Sen-Regular.ttf);
}
nav {
  background-color: #232536;
  position: fixed;
  width: 100%;
  z-index: 1111111;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 26px;
}
.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.nav__list--item a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  opacity: 0.7;
}
.nav__list .link {
  padding-left: 59px;
}
.nav__list .login {
  background-color: #fff;
  padding: 16px 48px;
  font-family: "Sen";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
  border-radius: 5px;
}
.nav__burger {
  display: none;
}

@media screen and (max-width: 992px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .nav__list {
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: none;
    padding-right: 59px;
    padding-top: 150px;
  }
  .nav__list--item {
    padding-bottom: 48px;
  }
  .nav__list--item a {
    font-size: 30px;
  }
  .nav__list .link {
    padding-left: 0;
    padding-top: 24px;
  }
  .nav__burger {
    display: block;
  }
  .nav__list1 {
    display: block;
    height: 100vh;
  }
}
@media screen and (max-width: 576px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: none;
    gap: 0;
    padding-left: 0;
  }
  .nav--item a {
    padding-bottom: 0px;
  }
  .nav__list1 {
    display: block;
    background-color: #232536;
    padding-left: 30px;
    margin-left: -30px;
    height: 60vh;
    position: absolute;
    z-index: 1111;
    padding-top: 50px;
  }
  .nav__list1 .login {
    padding: 8px 16px;
  }
  .nav__burger {
    display: block;
  }
}
.hero-site {
  padding-top: 128px;
  padding-bottom: 196px;
  background-image: url(../../imgrs/hero__beground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__leni {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  padding-bottom: 24px;
  text-transform: uppercase;
}
.hero__title {
  max-width: 900px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #fff;
}
.hero__text1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}
.hero .text__leni {
  color: #FFD050;
}
.hero__text {
  max-width: 599px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
.hero__btn {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 16px 48px;
  border: none;
  background-color: #FFD050;
  color: #232536;
}

@media screen and (max-width: 992px) {
  .hero-site {
    padding-top: 90px;
    padding-bottom: 100px;
  }
  .hero {
    padding-top: 50px;
  }
  .hero__leni {
    font-size: 14px;
  }
  .hero__title {
    max-width: 500px;
    font-size: 30px;
    line-height: 34px;
  }
  .hero__text1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
  }
  .hero .text__leni {
    color: #FFD050;
  }
  .hero__text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
  }
  .hero__btn {
    font-size: 16px;
    padding: 10px 40px;
  }
}
@media screen and (max-width: 992px) {
  .hero-site {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .hero {
    padding-top: 50px;
  }
  .hero__leni {
    font-size: 14px;
  }
  .hero__title {
    max-width: 600px;
    font-size: 40px;
    line-height: 44px;
  }
  .hero__text1 {
    font-size: 16px;
  }
  .hero .text__leni {
    color: #FFD050;
  }
  .hero__text {
    font-size: 16px;
  }
  .hero__btn {
    font-size: 16px;
    padding: 10px 40px;
  }
}
@media screen and (max-width: 768px) {
  .hero-site {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .hero {
    padding-top: 50px;
  }
  .hero__leni {
    font-size: 14px;
  }
  .hero__title {
    max-width: 600px;
    font-size: 30px;
    line-height: 34px;
  }
  .hero__text1 {
    font-size: 16px;
  }
  .hero .text__leni {
    color: #FFD050;
  }
  .hero__text {
    font-size: 16px;
    max-width: 700px;
  }
  .hero__btn {
    font-size: 16px;
    padding: 10px 40px;
  }
}
@media screen and (max-width: 576px) {
  .hero-site {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .hero {
    padding-top: 100px;
  }
  .hero__leni {
    display: none;
  }
  .hero__title {
    padding-top: 50px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
  }
  .hero__text1 {
    display: none;
  }
  .hero .text__leni {
    color: #FFD050;
  }
  .hero__text {
    font-size: 16px;
    line-height: 30px;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .hero__btn {
    display: block;
    margin: 30px auto;
    padding: 12px 30px;
  }
}
.card {
  max-width: 405px;
  width: 100%;
}
.card img {
  max-width: 405px;
  width: 100%;
  height: 318px;
}

@media screen and (max-width: 576px) {
  .card {
    max-width: 405px;
    width: 100%;
  }
  .card img {
    margin: 0 auto;
    max-width: 255px;
    width: 100%;
    height: 218px;
  }
}
.blogs__title {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
}

.title3 {
  text-align: center;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #232536;
}

.wrapper {
  padding-bottom: 73px;
}

.blog {
  padding-left: 44px;
  max-width: 296px;
  height: 221px;
  width: 100%;
  border: 1px solid #b5b6ba;
}
.blog img {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #fff;
}
.blog__title {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  color: #232536;
}
.blog__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
  max-width: 232px;
  padding-bottom: 31px;
}
.blog__col:hover {
  background-color: #FFD050;
  transform: rotateY(360deg);
  transition: all 1s ease;
}

.footer {
  background: #232536;
  padding: 54px 0;
}

.foter__text1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  opacity: 0.7;
}
.foter__text2 a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  opacity: 0.7;
}

.hero1 {
  background: #F4F0F8;
}/*# sourceMappingURL=main.css.map */