* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}

@font-face {
  font-family: "Inter";
  src: url(.././fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: "Sen";
  src: url(.././fonts/PlayfairDisplay-Regular.ttf);
}
nav {
  background-color: #232536;
  position: fixed;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 26px;
}
.nav__list {
  padding-right: 83px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.nav__list--item a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  opacity: 0.7;
}
.nav__list .link {
  padding-left: 59px;
}
.nav__list .login {
  background-color: #fff;
  padding: 16px 48px;
  font-family: "Sen";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
}
.nav__burger {
  display: none;
}

@media screen and (max-width: 992px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .nav__list {
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: none;
    padding-top: 150px;
  }
  .nav__list--item {
    padding-bottom: 48px;
  }
  .nav__list--item a {
    font-size: 30px;
  }
  .nav__list .link {
    padding-left: 0;
    padding-top: 24px;
  }
  .nav__burger {
    display: block;
  }
  .nav__list1 {
    display: block;
    height: 100vh;
  }
}
@media screen and (max-width: 576px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: none;
    gap: 0;
    padding-left: 0;
  }
  .nav--item {
    padding-bottom: 48px;
  }
  .nav--item a {
    font-size: 30px;
  }
  .nav__list1 {
    display: block;
    height: 100vh;
  }
  .nav__list1 .login {
    padding: 8px 16px;
  }
  .nav__burger {
    display: block;
  }
}
.hero-site {
  background-image: url(../../imgrs/hero__beground.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.hero {
  padding-top: 100px;
}
.hero__leni {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  padding-bottom: 24px;
}
.hero__title {
  max-width: 803px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #fff;
}/*# sourceMappingURL=main.css.map */