.blog-peg {
  padding-top: 100px;
  background: #f4f0f8;
  padding-bottom: 80px;
}
.blog-hero {
  &__title {
    padding-top: 80px;
    font-family: "Sen";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    color: #232536;
  }
  &__text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    max-width: 515px;
    margin: 0 auto;
    width: 100%;
    color: #6d6e76;
  }
  &__btn {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #232536;
    cursor: pointer;
  }
}
input{
    outline: none;
}
.row1{
    img{
        max-width: 447px;
        width: 100%;
        height: 312px;
    }
}
