.cartt{
    max-width: 300px;
    width: 100%;
    img{
        height: 300px;
      max-width: 300px;
      width: 100%;
    }
  
  }
  .cartt{
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
  }
  .clas{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }
.crud-btn{
    display: block;
    width: 150px;
    margin: 0 auto;
}