.footer {
  background: #232536;
  padding: 54px 0;
}
.foter {
  &__text1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: $white-color;
    opacity: 0.7;
  }
  &__text2 a {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: $white-color;
    opacity: 0.7;
  }
}
