nav {
  background-color: $navbar-bg;
  position: fixed;
  width: 100%;
  z-index: 1111111;
}
.nav {
  @include flexfunction(row, center, space-between, wrap);
  padding-top: 25px;
  padding-bottom: 26px;

  &__list {
    @include flexfunction(row, center, center, wrap);
    gap: 24px;
    &--item a {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: $white-color;
      opacity: 0.7;
    }
    .link {
      padding-left: 59px;
    }
    .login {
      background-color: $white-color;
      padding: 16px 48px;
      font-family: "Sen";
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      color: #232536;
      border-radius: 5px;
    }
  }
  &__burger {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .nav {
    @include flexfunction(row, center, space-between, wrap);
    &__list {
      padding-right: 0px;
      @include flexfunction(row, center, center, wrap);
      gap: 24px;
    }
  }
}
@media screen and (max-width: 768px) {
  .nav {
    @include flexfunction(row, start, space-between, wrap);
    &__list {
      @include flexfunction(column, center, center, wrap);
      display: none;
      padding-right: 59px;
      padding-top: 150px;
      &--item {
        padding-bottom: 48px;
      }
      &--item a {
        font-size: 30px;
      }

      .link {
        padding-left: 0;
        padding-top: 24px;
      }
    }

    &__burger {
      display: block;
    }
    &__list1 {
      display: block;
      height: 100vh;
    }
  }
}
@media screen and (max-width: 576px) {
  .nav {
    @include flexfunction(row, start, space-between, wrap);
    &__list {
      @include flexfunction(column, center, center, wrap);
      gap: 0;
      display: none;
      padding-left: 0;

    }

    &--item a {
      padding-bottom: 0px;
    }
    &__list1 {
      display: block;
      background-color: $navbar-bg;
      padding-left: 30px;
      margin-left: -30px;
      height: 70vh;
      position: absolute;
      z-index: 1111;
      padding-top: 50px;

      .login {
        padding: 8px 16px;
      }
    }

    &__burger {
      display: block;
    }
  }
}
