.hero-site {
  @include BG(url(../../imgrs/hero__beground.png), no-repeat, 100%, center);
}
.hero {
  padding-top: 100px;
  &__leni {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $white-color;
    padding-bottom: 24px;
  }
  &__title {
    max-width: 803px;
    font-family: "Sen";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    color: $white-color;
  }
}
